In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
pwd() #view the working dicretory for Jupyter

'C:\\Users\\S54201\\Desktop\\CAP\\DOA\\DOA 2019_2020'

In [3]:
pd.set_option('display.max_columns', None) #display max column
pd.set_option('display.max_rows', None) #limit display rows

# HRLIST

In [4]:
hrlist = pd.read_excel('hrlist_all_21042020.xlsx')

In [5]:
hrlist.head()

,Pers No,Name,Company Desc,LOB,Division,Email,EmpGroup,PerSubArea,PerSubArea_Region
0,69,Asmawati Bte Yusof,Telekom Malaysia Berhad,Group Customer,Group Customer Experience,ASMAWATI@TM.COM.MY,Permanent,Kuala Lumpur,Central
1,74,Zuraidah Binti Mohd Said,Telekom Malaysia Berhad,Commercial,Commercial_Central Region,ZURAIDAH@TM.COM.MY,Permanent,Selangor,Central
2,75,Badrul Hisham Bin Ahmad,Telekom Malaysia Berhad,Support Business,Support Business,BHISHAM@TM.COM.MY,Permanent,Kuala Lumpur,Central
3,77,Nor Aishah Binti Muyop,Telekom Malaysia Berhad,Central Function,Unit Secondment Multimedia University,NOR.AISHAH.MUYOP@MMU.EDU.MY,Permanent,Cyberjaya,Central
4,79,Nazidah Binti Ahmad Azli,Telekom Malaysia Berhad,TM Wholesale,TM Wholesale,NAZIDAH@TM.COM.MY,Permanent,Kuala Lumpur,Central

In [6]:
hrlist.rename(columns={'Pers No':'Pers. No'}, 
                 inplace=True)

In [7]:
hrlist.head(3)

,Pers. No,Name,Company Desc,LOB,Division,Email,EmpGroup,PerSubArea,PerSubArea_Region
0,69,Asmawati Bte Yusof,Telekom Malaysia Berhad,Group Customer,Group Customer Experience,ASMAWATI@TM.COM.MY,Permanent,Kuala Lumpur,Central
1,74,Zuraidah Binti Mohd Said,Telekom Malaysia Berhad,Commercial,Commercial_Central Region,ZURAIDAH@TM.COM.MY,Permanent,Selangor,Central
2,75,Badrul Hisham Bin Ahmad,Telekom Malaysia Berhad,Support Business,Support Business,BHISHAM@TM.COM.MY,Permanent,Kuala Lumpur,Central

In [8]:
hrlist.LOB.unique()

array(['Group Customer', 'Commercial', 'Support Business',
       'Central Function', 'TM Wholesale', 'TM ONE',
       'Group Information Technology & Digital', 'BOD',
       'Group Network Technology', 'Digital', 'Webe',
       'Multimedia University', 'TM R&D'], dtype=object)

In [9]:
hrlist.shape

(22796, 9)

In [10]:
hrlist.describe()

           Pers. No
count  22796.000000
mean   34016.507282
std    17158.127779
min       69.000000
25%    16999.750000
50%    40054.500000
75%    47874.250000
max    59341.000000

In [11]:
hrlist.LOB.unique()

array(['Group Customer', 'Commercial', 'Support Business',
       'Central Function', 'TM Wholesale', 'TM ONE',
       'Group Information Technology & Digital', 'BOD',
       'Group Network Technology', 'Digital', 'Webe',
       'Multimedia University', 'TM R&D'], dtype=object)

In [12]:
hrlist.LOB.describe()

count                        22796
unique                          13
top       Group Network Technology
freq                          8343
Name: LOB, dtype: object

In [13]:
hrlist.LOB.value_counts()

Group Network Technology                  8343
TM ONE                                    3594
Commercial                                3232
Multimedia University                     2150
Central Function                          1457
Support Business                          1192
Group Information Technology & Digital     910
Webe                                       624
TM Wholesale                               603
TM R&D                                     268
Digital                                    219
Group Customer                             185
BOD                                         19
Name: LOB, dtype: int64

In [14]:
hrlist.Division.describe()

count      22796
unique        73
top       TM ONE
freq        2674
Name: Division, dtype: object

In [15]:
hrlist.Division.value_counts()

TM ONE                                          2674
Multimedia University                           2150
GNT_Division Network Region Central             1978
GNT_Division Network Region Northern            1202
GNT_Division National Network Operations Ctr    1099
GNT_Division Network Region Southern            1065
Group Information Technology & Digital           910
Support Business                                 881
Commercial_Central Region                        777
GNT_Division Network Region Eastern              764
GNT_Division Fundamental Planning Fixed          670
GNT_Division Network Region Sabah                618
GNT_Division Network Region Sarawak              612
Commercial_Northern Region                       538
TM Wholesale                                     534
Commercial_Southern Region                       523
webe                                             379
Commercial                                       375
Commercial_Eastern Region                        362
Group Procurement                                355
Group Finance                                    344
GITN                                             323
Group Human Capital Management                   291
TM R&D                                           268
Vads BPO                                         250
Commercial_Sabah Region                          236
Commercial_Sarawak Region                        227
Digital                                          219
Menara Kuala Lumpur Sdn Bhd                      188
Group Customer Experience                        185
GNT_Division Enteprise Service Fulfillment       147
UNIFI                                            130
Telekom Sales & Services Sdn Bhd                 127
TMF Autolease Sdn Bhd                            123
Group Strategy                                    84
TM ONE_Northern Region                            78
Group Brand & Communication                       76
TM ONE_Southern Region                            71
Webe                                              70
TM Info-Media Sdn Bhd                             67
GNT_Division Project Planning & Bdgt Mgmt         62
Group Legal & Secretarial Division                60
TM ONE_Eastern Region                             59
Group Information Security                        57
Group Risk Management                             56
Group Internal Audit                              46
GNT_Division Fundamental Planning Mobile 5G       40
TMRO                                              40
TM ONE_Sabah Region                               39
TM ONE_Sarawak Region                             36
Telekom Applied Business                          36
GNT_Division Nwk Inteligence & Prfmnc Mon         35
TM ONE_Central Region                             34
Unit Secondment Multimedia University             31
GNT_Division Business Finance GNT                 26
Group Integrity & Governance                      26
BOD                                               19
Fiberail                                          18
CUSTOMER EXPERIENCE                               17
GNT_Division HCBD GNT & GITD                      16
Education Yayasan TM                              12
Fibrecomm                                         11
CEO Office                                         9
CENTRAL FUNCTION                                   7
STATES                                             6
Unit Secondment                                    6
Group Network Technology                           5
Chairman Office                                    4
GNT_Section Internal Communication                 4
SUPPORT BUSINESS                                   3
COMMERCIAL                                         2
VADS                                               2
PT VADS                                            2
Name: Division, dtype: int64

In [16]:
hrlist.Division[hrlist.Division.isin(['MMU','Unit Secondment Multimedia University','Unit Secondment Fiberail','Unit Secondment Fibrecomm'])].value_counts()

Unit Secondment Multimedia University    31
Name: Division, dtype: int64

In [17]:
hrlist.pivot_table(index=['LOB','Division'], aggfunc=len)

                                                                                     Company Desc  \
LOB                                    Division
BOD                                    BOD                                                     19
Central Function                       CEO Office                                               9
                                       Chairman Office                                          4
                                       Education Yayasan TM                                    12
                                       Group Brand & Communication                             76
                                       Group Finance                                          344
                                       Group Human Capital Management                         291
                                       Group Information Security                              57
                                       Group Integrity & Governance                            26
                                       Group Internal Audit                                    46
                                       Group Legal & Secretarial Division                      60
                                       Group Procurement                                      355
                                       Group Risk Management                                   56
                                       Group Strategy                                          84
                                       Unit Secondment                                          6
                                       Unit Secondment Multimedia University                   31
Commercial                             Commercial                                             375
                                       Commercial_Central Region                              777
                                       Commercial_Eastern Region                              362
                                       Commercial_Northern Region                             538
                                       Commercial_Sabah Region                                236
                                       Commercial_Sarawak Region                              227
                                       Commercial_Southern Region                             523
                                       TM Info-Media Sdn Bhd                                   67
                                       Telekom Sales & Services Sdn Bhd                       127
Digital                                Digital                                                219
Group Customer                         Group Customer Experience                              185
Group Information Technology & Digital Group Information Technology & Digital                 910
Group Network Technology               GNT_Division Business Finance GNT                       26
                                       GNT_Division Enteprise Service Fulfillment             147
                                       GNT_Division Fundamental Planning Fixed                670
                                       GNT_Division Fundamental Planning Mobile 5G             40
                                       GNT_Division HCBD GNT & GITD                            16
                                       GNT_Division National Network Operations Ctr          1099
                                       GNT_Division Network Region Central                   1978
                                       GNT_Division Network Region Eastern                    764
                                       GNT_Division Network Region Northern                  1202
                                       GNT_Division Network Region Sabah                      618
                                       GNT_Division Network Region Sarawak                    612
                                       GNT_Division Network Region Southern                  1065
                                       GNT_Division Nwk Inteligence & Prfmnc Mon               35
                                       GNT_Division Project Planning & Bdgt Mgmt               62
                                       GNT_Section Internal Communication                       4
                                       Group Network Technology                                 5
Multimedia University                  Multimedia University                                 2150
Support Business                       Menara Kuala Lumpur Sdn Bhd                            188
                                       Support Business                                       881
                                       TMF Autolease Sdn Bhd                                  123
TM ONE                                 GITN                                                   323
                                       PT VADS                                                  2
                                       TM ONE                                                2664
                                       TM ONE_Central Region                                   34
                                       TM ONE_Eastern Region                                   59
                                       TM ONE_Northern Region                                  78
                                       TM ONE_Sabah Region                                     39
                                       TM ONE_Sarawak Region                                   36
                                       TM ONE_Southern Region                                  71
                                       Telekom Applied Business                                36
                                       VADS                                                     2
                                       Vads BPO                                               250
TM R&D                                 TM R&D                                                 268
TM Wholesale                           Fiberail                                                18
                                       Fibrecomm                                               11
                                       TM Wholesale                                           534
                                       TMRO                                                    40
Webe                                   CENTRAL FUNCTION                                         7
                                       COMMERCIAL                                               2
                                       CUSTOMER EXPERIENCE                                     17
                                       STATES                                                   6
                                       SUPPORT BUSINESS                                         3
                                       TM ONE                                                  10
                                       UNIFI                                                  130
                                       Webe                                                    70
                                       webe                                                   379

                                                                                     Email  \
LOB                                    Division
BOD                                    BOD                                              19
Central Function                       CEO Office                                        9
                                       Chairman Office                                   4
                                       Education Yayasan TM                             12
                                       Group Brand & Communication                      76
                                       Group Finance                                   344
                                       Group Human Capital Management                  291
                                       Group Information Security                       57
                                       Group Integrity & Governance                     26
                                       Group Internal Audit                             46
                                       Group Legal & Secretarial Division               60
                                       Group Procurement                               355
                                       Group Risk Management                            56
                                       Group Strategy                                   84
                                       Unit Secondment                                   6
                                       Unit Secondment Multimedia University            31
Commercial                             Commercial                                      375
                                       Commercial_Central Region                       777
                                       Commercial_Eastern Region                       362
                                       Commercial_Northern Region                      538
                                       Commercial_Sabah Region                         236
                                       Commercial_Sarawak Region                       227
                                       Commercial_Southern Region                      523
                                       TM Info-Media Sdn Bhd                            67
                                       Telekom Sales & Services Sdn Bhd                127
Digital                                Digital                                         219
Group Customer                         Group Customer Experience                       185
Group Information Technology & Digital Group Information Technology & Digital          910
Group Network Technology               GNT_Division Business Finance GNT                26
                                       GNT_Division Enteprise Service Fulfillment      147
                                       GNT_Division Fundamental Planning Fixed         670
                                       GNT_Division Fundamental Planning Mobile 5G      40
                                       GNT_Division HCBD GNT & GITD                     16
                                       GNT_Division National Network Operations Ctr   1099
                                       GNT_Division Network Region Central            1978
                                       GNT_Division Network Region Eastern             764
                                       GNT_Division Network Region Northern           1202
                                       GNT_Division Network Region Sabah               618
                                       GNT_Division Network Region Sarawak             612
                                       GNT_Division Network Region Southern           1065
                                       GNT_Division Nwk Inteligence & Prfmnc Mon        35
                                       GNT_Division Project Planning & Bdgt Mgmt        62
                                       GNT_Section Internal Communication                4
                                       Group Network Technology                          5
Multimedia University                  Multimedia University                          2150
Support Business                       Menara Kuala Lumpur Sdn Bhd                     188
                                       Support Business                                881
                                       TMF Autolease Sdn Bhd                           123
TM ONE                                 GITN                                            323
                                       PT VADS                                           2
                                       TM ONE                                         2664
                                       TM ONE_Central Region                            34
                                       TM ONE_Eastern Region                            59
                                       TM ONE_Northern Region                           78
                                       TM ONE_Sabah Region                              39
                                       TM ONE_Sarawak Region                            36
                                       TM ONE_Southern Region                           71
                                       Telekom Applied Business                         36
                                       VADS                                              2
                                       Vads BPO                                        250
TM R&D                                 TM R&D                                          268
TM Wholesale                           Fiberail                                         18
                                       Fibrecomm                                        11
                                       TM Wholesale                                    534
                                       TMRO                                             40
Webe                                   CENTRAL FUNCTION                                  7
                                       COMMERCIAL                                        2
                                       CUSTOMER EXPERIENCE                              17
                                       STATES                                            6
                                       SUPPORT BUSINESS                                  3
                                       TM ONE                                           10
                                       UNIFI                                           130
                                       Webe                                             70
                                       webe                                            379

                                                                                     EmpGroup  \
LOB                                    Division
BOD                                    BOD                                                 19
Central Function                       CEO Office                                           9
                                       Chairman Office                                      4
                                       Education Yayasan TM                                12
                                       Group Brand & Communication                         76
                                       Group Finance                                      344
                                       Group Human Capital Management                     291
                                       Group Information Security                          57
                                       Group Integrity & Governance                        26
                                       Group Internal Audit                                46
                                       Group Legal & Secretarial Division                  60
                                       Group Procurement                                  355
                                       Group Risk Management                               56
                                       Group Strategy                                      84
                                       Unit Secondment                                      6
                                       Unit Secondment Multimedia University               31
Commercial                             Commercial                                         375
                                       Commercial_Central Region                          777
                                       Commercial_Eastern Region                          362
                                       Commercial_Northern Region                         538
                                       Commercial_Sabah Region                            236
                                       Commercial_Sarawak Region                          227
                                       Commercial_Southern Region                         523
                                       TM Info-Media Sdn Bhd                               67
                                       Telekom Sales & Services Sdn Bhd                   127
Digital                                Digital                                            219
Group Customer                         Group Customer Experience                          185
Group Information Technology & Digital Group Information Technology & Digital             910
Group Network Technology               GNT_Division Business Finance GNT                   26
                                       GNT_Division Enteprise Service Fulfillment         147
                                       GNT_Division Fundamental Planning Fixed            670
                                       GNT_Division Fundamental Planning Mobile 5G         40
                                       GNT_Division HCBD GNT & GITD                        16
                                       GNT_Division National Network Operations Ctr      1099
                                       GNT_Division Network Region Central               1978
                                       GNT_Division Network Region Eastern                764
                                       GNT_Division Network Region Northern              1202
                                       GNT_Division Network Region Sabah                  618
                                       GNT_Division Network Region Sarawak                612
                                       GNT_Division Network Region Southern              1065
                                       GNT_Division Nwk Inteligence & Prfmnc Mon           35
                                       GNT_Division Project Planning & Bdgt Mgmt           62
                                       GNT_Section Internal Communication                   4
                                       Group Network Technology                             5
Multimedia University                  Multimedia University                             2150
Support Business                       Menara Kuala Lumpur Sdn Bhd                        188
                                       Support Business                                   881
                                       TMF Autolease Sdn Bhd                              123
TM ONE                                 GITN                                               323
                                       PT VADS                                              2
                                       TM ONE                                            2664
                                       TM ONE_Central Region                               34
                                       TM ONE_Eastern Region                               59
                                       TM ONE_Northern Region                              78
                                       TM ONE_Sabah Region                                 39
                                       TM ONE_Sarawak Region                               36
                                       TM ONE_Southern Region                              71
                                       Telekom Applied Business                            36
                                       VADS                                                 2

In [18]:
hrlist.shape

(22796, 9)

In [19]:
hrlist.head(3)

,Pers. No,Name,Company Desc,LOB,Division,Email,EmpGroup,PerSubArea,PerSubArea_Region
0,69,Asmawati Bte Yusof,Telekom Malaysia Berhad,Group Customer,Group Customer Experience,ASMAWATI@TM.COM.MY,Permanent,Kuala Lumpur,Central
1,74,Zuraidah Binti Mohd Said,Telekom Malaysia Berhad,Commercial,Commercial_Central Region,ZURAIDAH@TM.COM.MY,Permanent,Selangor,Central
2,75,Badrul Hisham Bin Ahmad,Telekom Malaysia Berhad,Support Business,Support Business,BHISHAM@TM.COM.MY,Permanent,Kuala Lumpur,Central

In [20]:
hrlist['Pers. No'].duplicated(keep='last').shape

(22796,)

In [21]:
hrlist.duplicated(subset='Pers. No', keep='last').value_counts()

False    22796
dtype: int64

# SAPLIST

In [22]:
saplist = pd.read_excel('DOA2020_SAP_16062020.xlsx', skiprows= 8)

In [23]:
saplist.head()

,Unnamed: 0,Pers. No,Full Name,Unnamed: 3,Unnamed: 4,Primary IC,EE Group,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Company Name,Pers.area,Personnel Area Text,Subarea,PS text,Org. Unit,Name,LOB Code,LOB Name,Cost Ctr,Description,Hiring Dt,IP Date,DOA Date,Email
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,69.0,Asmawati Bte Yusof,NaN,NaN,6179429,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50258547.0,GROUP CUSTOMER,24.0,CUSTOMER EXPERIENCE,YCCG04,Chief CX CEMT,02.09.1985,NaN,28.04.2020,ASMAWATI@TM.COM.MY
2,NaN,71.0,Alias Bin Hasan,NaN,NaN,6226739,2,Contract - Internal,SM,Senior Management,201,Axiata Group Berhad,2170,TMI HQ,2171,Kuala Lumpur,50056439.0,DIVISION GROUP FINANCE,NaN,NaN,I122070,Finance TMI,01.11.1985,NaN,NaN,ALIASBP@TM.COM.MY
3,NaN,74.0,Dato' Zuraidah Binti Mohd Said,NaN,NaN,6399713,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3010,TM Central,3014,Selangor,50084946.0,DIVISION CENTRAL REGION,26.0,COMMERCIAL,YRCHRC,Head Central Region,29.08.1988,NaN,31.05.2020,ZURAIDAH@TM.COM.MY
4,NaN,75.0,Badrul Hisham Bin Ahmad,NaN,NaN,6410800,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50085477.0,TM SUPPORT BUSINESS,11.0,SUPPORT BUSINESS,BVAS01,Subsidiary Management,14.06.1984,NaN,02.04.2020,BHISHAM@TM.COM.MY

In [24]:
saplist = saplist.drop (0, axis=0) #drop row 0 which is no data

In [25]:
saplist.head(3)

,Unnamed: 0,Pers. No,Full Name,Unnamed: 3,Unnamed: 4,Primary IC,EE Group,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Company Name,Pers.area,Personnel Area Text,Subarea,PS text,Org. Unit,Name,LOB Code,LOB Name,Cost Ctr,Description,Hiring Dt,IP Date,DOA Date,Email
1,NaN,69.0,Asmawati Bte Yusof,NaN,NaN,6179429,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50258547.0,GROUP CUSTOMER,24.0,CUSTOMER EXPERIENCE,YCCG04,Chief CX CEMT,02.09.1985,NaN,28.04.2020,ASMAWATI@TM.COM.MY
2,NaN,71.0,Alias Bin Hasan,NaN,NaN,6226739,2,Contract - Internal,SM,Senior Management,201,Axiata Group Berhad,2170,TMI HQ,2171,Kuala Lumpur,50056439.0,DIVISION GROUP FINANCE,NaN,NaN,I122070,Finance TMI,01.11.1985,NaN,NaN,ALIASBP@TM.COM.MY
3,NaN,74.0,Dato' Zuraidah Binti Mohd Said,NaN,NaN,6399713,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3010,TM Central,3014,Selangor,50084946.0,DIVISION CENTRAL REGION,26.0,COMMERCIAL,YRCHRC,Head Central Region,29.08.1988,NaN,31.05.2020,ZURAIDAH@TM.COM.MY

In [26]:
saplist['Pers. No'].dtype #column pers. No dtype is float

dtype('float64')

In [27]:
saplist['Pers. No'] = saplist['Pers. No'].astype(int) #convert float to int

In [28]:
saplist.head(3)

,Unnamed: 0,Pers. No,Full Name,Unnamed: 3,Unnamed: 4,Primary IC,EE Group,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Company Name,Pers.area,Personnel Area Text,Subarea,PS text,Org. Unit,Name,LOB Code,LOB Name,Cost Ctr,Description,Hiring Dt,IP Date,DOA Date,Email
1,NaN,69,Asmawati Bte Yusof,NaN,NaN,6179429,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50258547.0,GROUP CUSTOMER,24.0,CUSTOMER EXPERIENCE,YCCG04,Chief CX CEMT,02.09.1985,NaN,28.04.2020,ASMAWATI@TM.COM.MY
2,NaN,71,Alias Bin Hasan,NaN,NaN,6226739,2,Contract - Internal,SM,Senior Management,201,Axiata Group Berhad,2170,TMI HQ,2171,Kuala Lumpur,50056439.0,DIVISION GROUP FINANCE,NaN,NaN,I122070,Finance TMI,01.11.1985,NaN,NaN,ALIASBP@TM.COM.MY
3,NaN,74,Dato' Zuraidah Binti Mohd Said,NaN,NaN,6399713,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3010,TM Central,3014,Selangor,50084946.0,DIVISION CENTRAL REGION,26.0,COMMERCIAL,YRCHRC,Head Central Region,29.08.1988,NaN,31.05.2020,ZURAIDAH@TM.COM.MY

In [29]:
saplist.shape

(28335, 26)

In [30]:
saplist['DOA Date'].dtype #check DOA Date datatype

dtype('O')

In [31]:
saplist['DOA Date'] = pd.to_datetime(saplist['DOA Date'], errors='coerce') #convert to dtype('0') to datetime

In [32]:
saplist['DOA Date'].dtype

dtype('<M8[ns]')

In [33]:
saplist.head(3)

,Unnamed: 0,Pers. No,Full Name,Unnamed: 3,Unnamed: 4,Primary IC,EE Group,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Company Name,Pers.area,Personnel Area Text,Subarea,PS text,Org. Unit,Name,LOB Code,LOB Name,Cost Ctr,Description,Hiring Dt,IP Date,DOA Date,Email
1,NaN,69,Asmawati Bte Yusof,NaN,NaN,6179429,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50258547.0,GROUP CUSTOMER,24.0,CUSTOMER EXPERIENCE,YCCG04,Chief CX CEMT,02.09.1985,NaN,2020-04-28,ASMAWATI@TM.COM.MY
2,NaN,71,Alias Bin Hasan,NaN,NaN,6226739,2,Contract - Internal,SM,Senior Management,201,Axiata Group Berhad,2170,TMI HQ,2171,Kuala Lumpur,50056439.0,DIVISION GROUP FINANCE,NaN,NaN,I122070,Finance TMI,01.11.1985,NaN,NaT,ALIASBP@TM.COM.MY
3,NaN,74,Dato' Zuraidah Binti Mohd Said,NaN,NaN,6399713,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3010,TM Central,3014,Selangor,50084946.0,DIVISION CENTRAL REGION,26.0,COMMERCIAL,YRCHRC,Head Central Region,29.08.1988,NaN,2020-05-31,ZURAIDAH@TM.COM.MY

In [34]:
saplist = saplist.sort_values(by='DOA Date', ascending=False) #ascending false is latest completion DOA at first row

In [35]:
saplist.head()

,Unnamed: 0,Pers. No,Full Name,Unnamed: 3,Unnamed: 4,Primary IC,EE Group,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Company Name,Pers.area,Personnel Area Text,Subarea,PS text,Org. Unit,Name,LOB Code,LOB Name,Cost Ctr,Description,Hiring Dt,IP Date,DOA Date,Email
17159,NaN,47929,Anthony Nue Anak Edmund Paleng,NaN,NaN,620117-13-5003,C,Contract - Project,NE,Non Executive,1020,Menara KL Sdn. Bhd.,1140,MKL Central,1141,Kuala Lumpur,50005179.0,DIVISION EDUCATION & MUZIUM,11.0,SUPPORT BUSINESS,MMMT03,Head of Muzium Telekom,01.07.2012,NaN,2020-12-06,ANTHONY.NUE@MENARAKL.COM.MY
6418,NaN,18019,Ahmad Nasri Bin Mohamed,NaN,NaN,800713-08-6293,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50153144.0,DIVISION SALES PLANNING,26.0,COMMERCIAL,YRCS1A,Head Consumer Sales,01.10.2002,NaN,2020-12-06,NASRI@TM.COM.MY
3538,NaN,13530,Abd Halim Bin Mohamad,NaN,NaN,A1724337,1,Permanent,NE,Non Executive,1071,TMF Autolease Sdn Bhd,1950,TM Fleet Management HQ,1952,Selangor,50005245.0,TMF AUTOLEASE SDN BHD,11.0,SUPPORT BUSINESS,FMZZSA,Zone Office KL/Selangor 1,03.02.1992,NaN,2020-12-06,HALIMMOHAMAD@TM.COM.MY
22452,NaN,56821,Afrinaldi Bin Gifni,NaN,NaN,871110-61-5035,1,Permanent,EX,Executives,1141,webe digital sdn bhd,3520,webe Central,3521,WP Kuala Lumpur,50151738.0,DIVISION PRODUCT DELIVERY & CONFIGURATIO,26.0,COMMERCIAL,C1SS03,Sales Operations,05.10.2015,NaN,2020-12-06,AFRINALDI.GIFNI@WEBE.COM.MY
7180,NaN,19831,Hasrul Bin Ahmad,NaN,NaN,800729-03-5239,1,Permanent,NE,Non Executive,1000,Telekom Malaysia Berhad,3010,TM Central,3011,Kuala Lumpur,50186735.0,DIVISION SECURITY MGMT & OSHE,11.0,SUPPORT BUSINESS,AHMSKL,MALAYSIAN SECURITY (MS) - KL,17.04.2006,NaN,2020-12-06,NaN

In [36]:
saplist['DOA Date'].describe()

count                   21635
unique                     85
top       2020-03-26 00:00:00
freq                     1471
first     2020-01-04 00:00:00
last      2020-12-06 00:00:00
Name: DOA Date, dtype: object

In [37]:
saplist['DOA Date'].value_counts()

2020-03-26    1471
2020-03-23    1295
2020-03-25    1229
2020-03-31    1063
2020-03-18    1012
2020-03-30    1008
2020-03-24     857
2020-10-04     781
2020-04-14     726
2020-02-04     654
2020-03-19     645
2020-03-27     575
2020-04-23     525
2020-03-20     522
2020-04-13     511
2020-04-22     496
2020-04-16     449
2020-09-04     445
2020-08-04     379
2020-04-15     364
2020-01-04     307
2020-05-21     298
2020-03-29     294
2020-05-20     281
2020-04-28     269
2020-05-28     263
2020-04-17     261
2020-04-24     251
2020-03-21     233
2020-04-27     229
2020-03-04     225
2020-04-29     216
2020-07-04     214
2020-06-04     211
2020-04-30     186
2020-03-28     178
2020-03-22     178
2020-05-29     170
2020-04-21     162
2020-05-05     161
2020-04-20     134
2020-08-05     130
2020-12-04     119
2020-11-04     117
2020-05-22     108
2020-06-05     107
2020-05-14     102
2020-05-15     101
2020-12-05      93
2020-04-05      83
2020-05-04      73
2020-05-13      67
2020-04-26      60
2020-05-27      60
2020-04-19      58
2020-05-31      51
2020-04-04      48
2020-04-25      43
2020-05-30      43
2020-10-06      37
2020-11-05      36
2020-05-18      35
2020-05-19      34
2020-01-05      31
2020-11-06      28
2020-07-05      27
2020-04-18      26
2020-09-05      25
2020-09-06      21
2020-12-06      16
2020-02-05      16
2020-05-17      15
2020-10-05      15
2020-05-26      14
2020-05-23      13
2020-05-16      12
2020-05-25      10
2020-03-05       9
2020-06-13       6
2020-05-24       6
2020-03-02       4
2020-06-14       3
2020-01-30       3
2020-04-02       1
2020-03-17       1
Name: DOA Date, dtype: int64

In [38]:
saplist.shape

(28335, 26)

In [39]:
saplist = saplist.drop_duplicates(subset='Pers. No', keep='first') #can't verified for now

In [40]:
saplist.shape

(28335, 26)

In [41]:
saplist['Pers. No'].describe()

count    2.833500e+04
mean     1.709690e+07
std      3.758861e+07
min      6.900000e+01
25%      1.944200e+04
50%      4.396900e+04
75%      5.491250e+04
max      9.990490e+07
Name: Pers. No, dtype: float64

In [42]:
saplist.Name.describe()

count                        23367
unique                         539
top       GROUP NETWORK TECHNOLOGY
freq                           985
Name: Name, dtype: object

In [43]:
saplist['LOB Name'].value_counts()

NETWORK TECHNOLOGY     8331
COMMERCIAL             3885
TM ONE                 3838
MMU                    2093
CENTRAL FUNCTION       1617
SUPPORT BUSINESS       1184
IT & DIGITAL            950
TM WHOLESALE            606
UNIFI                   247
CUSTOMER EXPERIENCE     215
DIGITAL                  38
Name: LOB Name, dtype: int64

In [44]:
saplist['LOB Name'].describe()

count                  23004
unique                    11
top       NETWORK TECHNOLOGY
freq                    8331
Name: LOB Name, dtype: object

In [45]:
saplist['EE Group Desc'].unique()

array(['Contract - Project', 'Permanent', 'Contract - External',
       'Contract - Retiree', 'Contract - Internal',
       'Contract for Service', 'Leasing', 'Part-Timer', 'Trainee'],
      dtype=object)

## Vlookup 2 df

In [46]:
df_main = hrlist.merge(saplist, on = 'Pers. No', how='left')

In [47]:
df_main.shape

(22796, 34)

In [48]:
hrlist.shape

(22796, 9)

In [49]:
saplist.shape

(28335, 26)

In [50]:
df_main.head(3)

,Pers. No,Name_x,Company Desc,LOB,Division,Email_x,EmpGroup,PerSubArea,PerSubArea_Region,Unnamed: 0,Full Name,Unnamed: 3,Unnamed: 4,Primary IC,EE Group,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Company Name,Pers.area,Personnel Area Text,Subarea,PS text,Org. Unit,Name_y,LOB Code,LOB Name,Cost Ctr,Description,Hiring Dt,IP Date,DOA Date,Email_y
0,69,Asmawati Bte Yusof,Telekom Malaysia Berhad,Group Customer,Group Customer Experience,ASMAWATI@TM.COM.MY,Permanent,Kuala Lumpur,Central,NaN,Asmawati Bte Yusof,NaN,NaN,6179429,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50258547.0,GROUP CUSTOMER,24.0,CUSTOMER EXPERIENCE,YCCG04,Chief CX CEMT,02.09.1985,NaN,2020-04-28,ASMAWATI@TM.COM.MY
1,74,Zuraidah Binti Mohd Said,Telekom Malaysia Berhad,Commercial,Commercial_Central Region,ZURAIDAH@TM.COM.MY,Permanent,Selangor,Central,NaN,Dato' Zuraidah Binti Mohd Said,NaN,NaN,6399713,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3010,TM Central,3014,Selangor,50084946.0,DIVISION CENTRAL REGION,26.0,COMMERCIAL,YRCHRC,Head Central Region,29.08.1988,NaN,2020-05-31,ZURAIDAH@TM.COM.MY
2,75,Badrul Hisham Bin Ahmad,Telekom Malaysia Berhad,Support Business,Support Business,BHISHAM@TM.COM.MY,Permanent,Kuala Lumpur,Central,NaN,Badrul Hisham Bin Ahmad,NaN,NaN,6410800,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50085477.0,TM SUPPORT BUSINESS,11.0,SUPPORT BUSINESS,BVAS01,Subsidiary Management,14.06.1984,NaN,2020-02-04,BHISHAM@TM.COM.MY

In [51]:
df_main['DOA Date'].value_counts()

2020-03-26    1471
2020-03-23    1295
2020-03-25    1229
2020-03-31    1063
2020-03-18    1010
2020-03-30    1008
2020-03-24     857
2020-10-04     781
2020-04-14     726
2020-02-04     654
2020-03-19     645
2020-03-27     575
2020-04-23     525
2020-03-20     522
2020-04-13     511
2020-04-22     496
2020-04-16     449
2020-09-04     445
2020-08-04     379
2020-04-15     364
2020-01-04     307
2020-05-21     298
2020-03-29     294
2020-05-20     281
2020-04-28     265
2020-05-28     262
2020-04-17     261
2020-04-24     251
2020-03-21     233
2020-03-04     225
2020-04-27     222
2020-04-29     214
2020-07-04     214
2020-06-04     211
2020-04-30     184
2020-03-28     178
2020-03-22     178
2020-05-29     169
2020-04-21     162
2020-05-05     161
2020-04-20     134
2020-08-05     129
2020-12-04     119
2020-11-04     117
2020-05-22     108
2020-06-05     107
2020-05-15     101
2020-05-14     100
2020-12-05      90
2020-04-05      83
2020-05-04      73
2020-05-13      65
2020-05-27      60
2020-04-19      58
2020-04-26      58
2020-05-31      50
2020-04-04      48
2020-04-25      43
2020-05-30      42
2020-11-05      36
2020-10-06      36
2020-05-18      35
2020-05-19      34
2020-01-05      31
2020-11-06      28
2020-07-05      27
2020-04-18      26
2020-09-05      25
2020-09-06      21
2020-12-06      16
2020-02-05      16
2020-05-17      15
2020-10-05      15
2020-05-26      14
2020-05-23      13
2020-05-16      12
2020-05-25      10
2020-03-05       9
2020-06-13       6
2020-05-24       6
2020-03-02       4
2020-06-14       3
2020-01-30       3
2020-04-02       1
2020-03-17       1
Name: DOA Date, dtype: int64

In [52]:
df_main['DOA Date'].describe()

count                   21603
unique                     85
top       2020-03-26 00:00:00
freq                     1471
first     2020-01-04 00:00:00
last      2020-12-06 00:00:00
Name: DOA Date, dtype: object

In [53]:
df_main['DOA Date'].isnull().value_counts()

False    21603
True      1193
Name: DOA Date, dtype: int64

In [54]:
df_main['EE Group Desc'].unique()

array(['Permanent', 'Contract - External', 'Contract - Internal', nan,
       'Contract - Retiree', 'Contract - Project', 'Part-Timer',
       'Trainee'], dtype=object)

In [55]:
df_main['EE Group Desc'].value_counts()

Permanent              20891
Part-Timer               672
Contract - Project       423
Contract - External      420
Contract - Retiree         6
Contract - Internal        4
Trainee                    1
Name: EE Group Desc, dtype: int64

## Filter value within column (Permanent) - Don't exclude

In [56]:
#df_main_P = df_main[df_main['EE Group Desc'].isin(['Permanent'])]

In [57]:
df_main_P = df_main

In [58]:
df_main_P.shape

(22796, 34)

In [59]:
df_main_P['DOA Date'].unique()

array(['2020-04-28T00:00:00.000000000', '2020-05-31T00:00:00.000000000',
       '2020-02-04T00:00:00.000000000', '2020-03-26T00:00:00.000000000',
       '2020-05-29T00:00:00.000000000', '2020-05-20T00:00:00.000000000',
       '2020-03-18T00:00:00.000000000', '2020-03-30T00:00:00.000000000',
       '2020-04-15T00:00:00.000000000', '2020-04-14T00:00:00.000000000',
       '2020-04-21T00:00:00.000000000',                           'NaT',
       '2020-05-13T00:00:00.000000000', '2020-07-05T00:00:00.000000000',
       '2020-05-21T00:00:00.000000000', '2020-05-14T00:00:00.000000000',
       '2020-09-04T00:00:00.000000000', '2020-12-05T00:00:00.000000000',
       '2020-03-25T00:00:00.000000000', '2020-04-19T00:00:00.000000000',
       '2020-03-22T00:00:00.000000000', '2020-09-06T00:00:00.000000000',
       '2020-03-28T00:00:00.000000000', '2020-05-15T00:00:00.000000000',
       '2020-05-05T00:00:00.000000000', '2020-07-04T00:00:00.000000000',
       '2020-04-04T00:00:00.000000000', '2020-04-13T00:00:00.000000000',
       '2020-03-31T00:00:00.000000000', '2020-03-20T00:00:00.000000000',
       '2020-06-04T00:00:00.000000000', '2020-04-20T00:00:00.000000000',
       '2020-10-04T00:00:00.000000000', '2020-03-24T00:00:00.000000000',
       '2020-04-16T00:00:00.000000000', '2020-04-22T00:00:00.000000000',
       '2020-06-13T00:00:00.000000000', '2020-04-27T00:00:00.000000000',
       '2020-05-28T00:00:00.000000000', '2020-12-04T00:00:00.000000000',
       '2020-04-17T00:00:00.000000000', '2020-05-27T00:00:00.000000000',
       '2020-04-23T00:00:00.000000000', '2020-03-29T00:00:00.000000000',
       '2020-05-23T00:00:00.000000000', '2020-03-27T00:00:00.000000000',
       '2020-03-23T00:00:00.000000000', '2020-04-18T00:00:00.000000000',
       '2020-08-04T00:00:00.000000000', '2020-04-24T00:00:00.000000000',
       '2020-03-19T00:00:00.000000000', '2020-04-26T00:00:00.000000000',
       '2020-03-04T00:00:00.000000000', '2020-04-25T00:00:00.000000000',
       '2020-04-29T00:00:00.000000000', '2020-03-05T00:00:00.000000000',
       '2020-01-04T00:00:00.000000000', '2020-05-19T00:00:00.000000000',
       '2020-03-21T00:00:00.000000000', '2020-08-05T00:00:00.000000000',
       '2020-04-30T00:00:00.000000000', '2020-11-04T00:00:00.000000000',
       '2020-05-25T00:00:00.000000000', '2020-06-05T00:00:00.000000000',
       '2020-12-06T00:00:00.000000000', '2020-02-05T00:00:00.000000000',
       '2020-05-22T00:00:00.000000000', '2020-05-17T00:00:00.000000000',
       '2020-05-26T00:00:00.000000000', '2020-04-05T00:00:00.000000000',
       '2020-05-04T00:00:00.000000000', '2020-05-30T00:00:00.000000000',
       '2020-01-05T00:00:00.000000000', '2020-10-06T00:00:00.000000000',
       '2020-11-05T00:00:00.000000000', '2020-10-05T00:00:00.000000000',
       '2020-09-05T00:00:00.000000000', '2020-11-06T00:00:00.000000000',
       '2020-05-16T00:00:00.000000000', '2020-05-18T00:00:00.000000000',
       '2020-03-17T00:00:00.000000000', '2020-06-14T00:00:00.000000000',
       '2020-05-24T00:00:00.000000000', '2020-03-02T00:00:00.000000000',
       '2020-01-30T00:00:00.000000000', '2020-04-02T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [60]:
df_main_P['DOA Date'].value_counts(dropna= False) #dropna = False will include Nat/Nan in value_counts

2020-03-26    1471
2020-03-23    1295
2020-03-25    1229
NaT           1193
2020-03-31    1063
2020-03-18    1010
2020-03-30    1008
2020-03-24     857
2020-10-04     781
2020-04-14     726
2020-02-04     654
2020-03-19     645
2020-03-27     575
2020-04-23     525
2020-03-20     522
2020-04-13     511
2020-04-22     496
2020-04-16     449
2020-09-04     445
2020-08-04     379
2020-04-15     364
2020-01-04     307
2020-05-21     298
2020-03-29     294
2020-05-20     281
2020-04-28     265
2020-05-28     262
2020-04-17     261
2020-04-24     251
2020-03-21     233
2020-03-04     225
2020-04-27     222
2020-07-04     214
2020-04-29     214
2020-06-04     211
2020-04-30     184
2020-03-28     178
2020-03-22     178
2020-05-29     169
2020-04-21     162
2020-05-05     161
2020-04-20     134
2020-08-05     129
2020-12-04     119
2020-11-04     117
2020-05-22     108
2020-06-05     107
2020-05-15     101
2020-05-14     100
2020-12-05      90
2020-04-05      83
2020-05-04      73
2020-05-13      65
2020-05-27      60
2020-04-26      58
2020-04-19      58
2020-05-31      50
2020-04-04      48
2020-04-25      43
2020-05-30      42
2020-10-06      36
2020-11-05      36
2020-05-18      35
2020-05-19      34
2020-01-05      31
2020-11-06      28
2020-07-05      27
2020-04-18      26
2020-09-05      25
2020-09-06      21
2020-02-05      16
2020-12-06      16
2020-10-05      15
2020-05-17      15
2020-05-26      14
2020-05-23      13
2020-05-16      12
2020-05-25      10
2020-03-05       9
2020-06-13       6
2020-05-24       6
2020-03-02       4
2020-06-14       3
2020-01-30       3
2020-03-17       1
2020-04-02       1
Name: DOA Date, dtype: int64

In [61]:
df_main_P['LOB'].value_counts()

Group Network Technology                  8343
TM ONE                                    3594
Commercial                                3232
Multimedia University                     2150
Central Function                          1457
Support Business                          1192
Group Information Technology & Digital     910
Webe                                       624
TM Wholesale                               603
TM R&D                                     268
Digital                                    219
Group Customer                             185
BOD                                         19
Name: LOB, dtype: int64

In [62]:
df_main_P['Division'].value_counts()

TM ONE                                          2674
Multimedia University                           2150
GNT_Division Network Region Central             1978
GNT_Division Network Region Northern            1202
GNT_Division National Network Operations Ctr    1099
GNT_Division Network Region Southern            1065
Group Information Technology & Digital           910
Support Business                                 881
Commercial_Central Region                        777
GNT_Division Network Region Eastern              764
GNT_Division Fundamental Planning Fixed          670
GNT_Division Network Region Sabah                618
GNT_Division Network Region Sarawak              612
Commercial_Northern Region                       538
TM Wholesale                                     534
Commercial_Southern Region                       523
webe                                             379
Commercial                                       375
Commercial_Eastern Region                        362
Group Procurement                                355
Group Finance                                    344
GITN                                             323
Group Human Capital Management                   291
TM R&D                                           268
Vads BPO                                         250
Commercial_Sabah Region                          236
Commercial_Sarawak Region                        227
Digital                                          219
Menara Kuala Lumpur Sdn Bhd                      188
Group Customer Experience                        185
GNT_Division Enteprise Service Fulfillment       147
UNIFI                                            130
Telekom Sales & Services Sdn Bhd                 127
TMF Autolease Sdn Bhd                            123
Group Strategy                                    84
TM ONE_Northern Region                            78
Group Brand & Communication                       76
TM ONE_Southern Region                            71
Webe                                              70
TM Info-Media Sdn Bhd                             67
GNT_Division Project Planning & Bdgt Mgmt         62
Group Legal & Secretarial Division                60
TM ONE_Eastern Region                             59
Group Information Security                        57
Group Risk Management                             56
Group Internal Audit                              46
GNT_Division Fundamental Planning Mobile 5G       40
TMRO                                              40
TM ONE_Sabah Region                               39
TM ONE_Sarawak Region                             36
Telekom Applied Business                          36
GNT_Division Nwk Inteligence & Prfmnc Mon         35
TM ONE_Central Region                             34
Unit Secondment Multimedia University             31
GNT_Division Business Finance GNT                 26
Group Integrity & Governance                      26
BOD                                               19
Fiberail                                          18
CUSTOMER EXPERIENCE                               17
GNT_Division HCBD GNT & GITD                      16
Education Yayasan TM                              12
Fibrecomm                                         11
CEO Office                                         9
CENTRAL FUNCTION                                   7
STATES                                             6
Unit Secondment                                    6
Group Network Technology                           5
Chairman Office                                    4
GNT_Section Internal Communication                 4
SUPPORT BUSINESS                                   3
COMMERCIAL                                         2
VADS                                               2
PT VADS                                            2
Name: Division, dtype: int64

## Pivot Table

In [63]:
pd.pivot_table(df_main_P, values='Pers. No', index=['LOB','Division'], aggfunc=len)

                                                                                     Pers. No
LOB                                    Division
BOD                                    BOD                                                 19
Central Function                       CEO Office                                           9
                                       Chairman Office                                      4
                                       Education Yayasan TM                                12
                                       Group Brand & Communication                         76
                                       Group Finance                                      344
                                       Group Human Capital Management                     291
                                       Group Information Security                          57
                                       Group Integrity & Governance                        26
                                       Group Internal Audit                                46
                                       Group Legal & Secretarial Division                  60
                                       Group Procurement                                  355
                                       Group Risk Management                               56
                                       Group Strategy                                      84
                                       Unit Secondment                                      6
                                       Unit Secondment Multimedia University               31
Commercial                             Commercial                                         375
                                       Commercial_Central Region                          777
                                       Commercial_Eastern Region                          362
                                       Commercial_Northern Region                         538
                                       Commercial_Sabah Region                            236
                                       Commercial_Sarawak Region                          227
                                       Commercial_Southern Region                         523
                                       TM Info-Media Sdn Bhd                               67
                                       Telekom Sales & Services Sdn Bhd                   127
Digital                                Digital                                            219
Group Customer                         Group Customer Experience                          185
Group Information Technology & Digital Group Information Technology & Digital             910
Group Network Technology               GNT_Division Business Finance GNT                   26
                                       GNT_Division Enteprise Service Fulfillment         147
                                       GNT_Division Fundamental Planning Fixed            670
                                       GNT_Division Fundamental Planning Mobile 5G         40
                                       GNT_Division HCBD GNT & GITD                        16
                                       GNT_Division National Network Operations Ctr      1099
                                       GNT_Division Network Region Central               1978
                                       GNT_Division Network Region Eastern                764
                                       GNT_Division Network Region Northern              1202
                                       GNT_Division Network Region Sabah                  618
                                       GNT_Division Network Region Sarawak                612
                                       GNT_Division Network Region Southern              1065
                                       GNT_Division Nwk Inteligence & Prfmnc Mon           35
                                       GNT_Division Project Planning & Bdgt Mgmt           62
                                       GNT_Section Internal Communication                   4
                                       Group Network Technology                             5
Multimedia University                  Multimedia University                             2150
Support Business                       Menara Kuala Lumpur Sdn Bhd                        188
                                       Support Business                                   881
                                       TMF Autolease Sdn Bhd                              123
TM ONE                                 GITN                                               323
                                       PT VADS                                              2
                                       TM ONE                                            2664
                                       TM ONE_Central Region                               34
                                       TM ONE_Eastern Region                               59
                                       TM ONE_Northern Region                              78
                                       TM ONE_Sabah Region                                 39
                                       TM ONE_Sarawak Region                               36
                                       TM ONE_Southern Region                              71
                                       Telekom Applied Business                            36
                                       VADS                                                 2
                                       Vads BPO                                           250
TM R&D                                 TM R&D                                             268
TM Wholesale                           Fiberail                                            18
                                       Fibrecomm                                           11
                                       TM Wholesale                                       534
                                       TMRO                                                40
Webe                                   CENTRAL FUNCTION                                     7
                                       COMMERCIAL                                           2
                                       CUSTOMER EXPERIENCE                                 17
                                       STATES                                               6
                                       SUPPORT BUSINESS                                     3
                                       TM ONE                                              10
                                       UNIFI                                              130
                                       Webe                                                70
                                       webe                                               379

## Change unit secondment MMU from Central Function to MMU

In [64]:
#df_main_P.set_index('LOB',inplace=True)

In [65]:
df_main_P.head(3)

,Pers. No,Name_x,Company Desc,LOB,Division,Email_x,EmpGroup,PerSubArea,PerSubArea_Region,Unnamed: 0,Full Name,Unnamed: 3,Unnamed: 4,Primary IC,EE Group,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Company Name,Pers.area,Personnel Area Text,Subarea,PS text,Org. Unit,Name_y,LOB Code,LOB Name,Cost Ctr,Description,Hiring Dt,IP Date,DOA Date,Email_y
0,69,Asmawati Bte Yusof,Telekom Malaysia Berhad,Group Customer,Group Customer Experience,ASMAWATI@TM.COM.MY,Permanent,Kuala Lumpur,Central,NaN,Asmawati Bte Yusof,NaN,NaN,6179429,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50258547.0,GROUP CUSTOMER,24.0,CUSTOMER EXPERIENCE,YCCG04,Chief CX CEMT,02.09.1985,NaN,2020-04-28,ASMAWATI@TM.COM.MY
1,74,Zuraidah Binti Mohd Said,Telekom Malaysia Berhad,Commercial,Commercial_Central Region,ZURAIDAH@TM.COM.MY,Permanent,Selangor,Central,NaN,Dato' Zuraidah Binti Mohd Said,NaN,NaN,6399713,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3010,TM Central,3014,Selangor,50084946.0,DIVISION CENTRAL REGION,26.0,COMMERCIAL,YRCHRC,Head Central Region,29.08.1988,NaN,2020-05-31,ZURAIDAH@TM.COM.MY
2,75,Badrul Hisham Bin Ahmad,Telekom Malaysia Berhad,Support Business,Support Business,BHISHAM@TM.COM.MY,Permanent,Kuala Lumpur,Central,NaN,Badrul Hisham Bin Ahmad,NaN,NaN,6410800,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50085477.0,TM SUPPORT BUSINESS,11.0,SUPPORT BUSINESS,BVAS01,Subsidiary Management,14.06.1984,NaN,2020-02-04,BHISHAM@TM.COM.MY

In [66]:
df_main_P.loc[(df_main_P.Division == 'Unit Secondment Multimedia University'), 'LOB'] = 'Multimedia University'

In [67]:
pd.pivot_table(df_main_P, values='Pers. No', index=['LOB','Division'], aggfunc=len)

                                                                                     Pers. No
LOB                                    Division
BOD                                    BOD                                                 19
Central Function                       CEO Office                                           9
                                       Chairman Office                                      4
                                       Education Yayasan TM                                12
                                       Group Brand & Communication                         76
                                       Group Finance                                      344
                                       Group Human Capital Management                     291
                                       Group Information Security                          57
                                       Group Integrity & Governance                        26
                                       Group Internal Audit                                46
                                       Group Legal & Secretarial Division                  60
                                       Group Procurement                                  355
                                       Group Risk Management                               56
                                       Group Strategy                                      84
                                       Unit Secondment                                      6
Commercial                             Commercial                                         375
                                       Commercial_Central Region                          777
                                       Commercial_Eastern Region                          362
                                       Commercial_Northern Region                         538
                                       Commercial_Sabah Region                            236
                                       Commercial_Sarawak Region                          227
                                       Commercial_Southern Region                         523
                                       TM Info-Media Sdn Bhd                               67
                                       Telekom Sales & Services Sdn Bhd                   127
Digital                                Digital                                            219
Group Customer                         Group Customer Experience                          185
Group Information Technology & Digital Group Information Technology & Digital             910
Group Network Technology               GNT_Division Business Finance GNT                   26
                                       GNT_Division Enteprise Service Fulfillment         147
                                       GNT_Division Fundamental Planning Fixed            670
                                       GNT_Division Fundamental Planning Mobile 5G         40
                                       GNT_Division HCBD GNT & GITD                        16
                                       GNT_Division National Network Operations Ctr      1099
                                       GNT_Division Network Region Central               1978
                                       GNT_Division Network Region Eastern                764
                                       GNT_Division Network Region Northern              1202
                                       GNT_Division Network Region Sabah                  618
                                       GNT_Division Network Region Sarawak                612
                                       GNT_Division Network Region Southern              1065
                                       GNT_Division Nwk Inteligence & Prfmnc Mon           35
                                       GNT_Division Project Planning & Bdgt Mgmt           62
                                       GNT_Section Internal Communication                   4
                                       Group Network Technology                             5
Multimedia University                  Multimedia University                             2150
                                       Unit Secondment Multimedia University               31
Support Business                       Menara Kuala Lumpur Sdn Bhd                        188
                                       Support Business                                   881
                                       TMF Autolease Sdn Bhd                              123
TM ONE                                 GITN                                               323
                                       PT VADS                                              2
                                       TM ONE                                            2664
                                       TM ONE_Central Region                               34
                                       TM ONE_Eastern Region                               59
                                       TM ONE_Northern Region                              78
                                       TM ONE_Sabah Region                                 39
                                       TM ONE_Sarawak Region                               36
                                       TM ONE_Southern Region                              71
                                       Telekom Applied Business                            36
                                       VADS                                                 2
                                       Vads BPO                                           250
TM R&D                                 TM R&D                                             268
TM Wholesale                           Fiberail                                            18
                                       Fibrecomm                                           11
                                       TM Wholesale                                       534
                                       TMRO                                                40
Webe                                   CENTRAL FUNCTION                                     7
                                       COMMERCIAL                                           2
                                       CUSTOMER EXPERIENCE                                 17
                                       STATES                                               6
                                       SUPPORT BUSINESS                                     3
                                       TM ONE                                              10
                                       UNIFI                                              130
                                       Webe                                                70
                                       webe                                               379

In [68]:
#df_main_P.reset_index(inplace=True)

## Standard LOB name e.g. Central Function, Support Business, Webe, Commercial, Customer Experience, States

In [69]:
pd.pivot_table(df_main_P, values='Pers. No', index=['LOB'], aggfunc=len)

                                        Pers. No
LOB
BOD                                           19
Central Function                            1426
Commercial                                  3232
Digital                                      219
Group Customer                               185
Group Information Technology & Digital       910
Group Network Technology                    8343
Multimedia University                       2181
Support Business                            1192
TM ONE                                      3594
TM R&D                                       268
TM Wholesale                                 603
Webe                                         624

In [70]:
df_main_P.LOB.unique()

array(['Group Customer', 'Commercial', 'Support Business',
       'Multimedia University', 'TM Wholesale', 'TM ONE',
       'Central Function', 'Group Information Technology & Digital',
       'BOD', 'Group Network Technology', 'Digital', 'Webe', 'TM R&D'],
      dtype=object)

In [71]:
#df_main_P.loc[(df_main_P.LOB == 'CENTRAL FUNCTION'), 'LOB'] = 'Central Function'
#df_main_P.loc[(df_main_P.LOB == 'SUPPORT BUSINESS'), 'LOB'] = 'Support Business'
df_main_P.loc[(df_main_P.LOB == 'Webe'), 'LOB'] = 'webe'
#df_main_P.loc[(df_main_P.LOB == 'COMMERCIAL'), 'LOB'] = 'Commercial'
#df_main_P.loc[(df_main_P.LOB == 'CUSTOMER EXPERIENCE'), 'LOB'] = 'Customer Experience'
#df_main_P.loc[(df_main_P.LOB == 'Group Customer'), 'LOB'] = 'Customer Experience'
#df_main_P.loc[(df_main_P.LOB == 'STATES'), 'LOB'] = 'States'
#df_main_P.loc[(df_main_P.LOB == 'Digital'), 'LOB'] = 'Group Information Technology & Digital'
#df_main_P.loc[(df_main_P.LOB == 'UNIFI'), 'LOB'] = 'unifi'

In [72]:
df_main_P.LOB.unique()

array(['Group Customer', 'Commercial', 'Support Business',
       'Multimedia University', 'TM Wholesale', 'TM ONE',
       'Central Function', 'Group Information Technology & Digital',
       'BOD', 'Group Network Technology', 'Digital', 'webe', 'TM R&D'],
      dtype=object)

In [73]:
#df_main_P.reset_index(inplace=True)

In [74]:
pd.pivot_table(df_main_P, values='Pers. No', index=['LOB'], aggfunc=len)

                                        Pers. No
LOB
BOD                                           19
Central Function                            1426
Commercial                                  3232
Digital                                      219
Group Customer                               185
Group Information Technology & Digital       910
Group Network Technology                    8343
Multimedia University                       2181
Support Business                            1192
TM ONE                                      3594
TM R&D                                       268
TM Wholesale                                 603
webe                                         624

## Exclude list name

In [75]:
exclude = pd.read_excel('EXCLUDE DOA 2019-2020.xlsx')

In [76]:
exclude.shape

(635, 2)

In [77]:
exclude.head()

   Pers. No   Reason
0     43754  Resigned
1      9605       MRA
2      9751       MRA
3      9779       MRA
4      9887       MRA

In [78]:
df_exclude = exclude.merge(hrlist, on = 'Pers. No', how='left')

In [79]:
df_exclude.shape

(635, 10)

In [80]:
df_exclude.head(3)

,Pers. No,Reason,Name,Company Desc,LOB,Division,Email,EmpGroup,PerSubArea,PerSubArea_Region
0,43754,Resigned,Wan Roslinda Binti Wan Ismail,Telekom Malaysia Berhad,Central Function,Group Legal & Secretarial Division,WANROSLINDA.WANISMAIL@TM.COM.MY,Permanent,Kuala Lumpur,Central
1,9605,MRA,Zakaria Bin Ahmad,Telekom Malaysia Berhad,Central Function,Group Procurement,A14487@TM.COM.MY,Permanent,Kuala Lumpur,Central
2,9751,MRA,Mohd Shawal Bin Shamsudin,Telekom Malaysia Berhad,Central Function,Group Procurement,H12851@TM.COM.MY,Permanent,Kuala Lumpur,Central

In [81]:
hrlist.head(3)

,Pers. No,Name,Company Desc,LOB,Division,Email,EmpGroup,PerSubArea,PerSubArea_Region
0,69,Asmawati Bte Yusof,Telekom Malaysia Berhad,Group Customer,Group Customer Experience,ASMAWATI@TM.COM.MY,Permanent,Kuala Lumpur,Central
1,74,Zuraidah Binti Mohd Said,Telekom Malaysia Berhad,Commercial,Commercial_Central Region,ZURAIDAH@TM.COM.MY,Permanent,Selangor,Central
2,75,Badrul Hisham Bin Ahmad,Telekom Malaysia Berhad,Support Business,Support Business,BHISHAM@TM.COM.MY,Permanent,Kuala Lumpur,Central

In [82]:
df_exclude.to_csv('EXCLUDE_output.csv')

## Take neccessary columns and drop column IP Date

In [83]:
df_main_P.head(3)

,Pers. No,Name_x,Company Desc,LOB,Division,Email_x,EmpGroup,PerSubArea,PerSubArea_Region,Unnamed: 0,Full Name,Unnamed: 3,Unnamed: 4,Primary IC,EE Group,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Company Name,Pers.area,Personnel Area Text,Subarea,PS text,Org. Unit,Name_y,LOB Code,LOB Name,Cost Ctr,Description,Hiring Dt,IP Date,DOA Date,Email_y
0,69,Asmawati Bte Yusof,Telekom Malaysia Berhad,Group Customer,Group Customer Experience,ASMAWATI@TM.COM.MY,Permanent,Kuala Lumpur,Central,NaN,Asmawati Bte Yusof,NaN,NaN,6179429,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50258547.0,GROUP CUSTOMER,24.0,CUSTOMER EXPERIENCE,YCCG04,Chief CX CEMT,02.09.1985,NaN,2020-04-28,ASMAWATI@TM.COM.MY
1,74,Zuraidah Binti Mohd Said,Telekom Malaysia Berhad,Commercial,Commercial_Central Region,ZURAIDAH@TM.COM.MY,Permanent,Selangor,Central,NaN,Dato' Zuraidah Binti Mohd Said,NaN,NaN,6399713,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3010,TM Central,3014,Selangor,50084946.0,DIVISION CENTRAL REGION,26.0,COMMERCIAL,YRCHRC,Head Central Region,29.08.1988,NaN,2020-05-31,ZURAIDAH@TM.COM.MY
2,75,Badrul Hisham Bin Ahmad,Telekom Malaysia Berhad,Support Business,Support Business,BHISHAM@TM.COM.MY,Permanent,Kuala Lumpur,Central,NaN,Badrul Hisham Bin Ahmad,NaN,NaN,6410800,1,Permanent,TM,Top Management,1000,Telekom Malaysia Berhad,3000,TM HQ,3001,Kuala Lumpur,50085477.0,TM SUPPORT BUSINESS,11.0,SUPPORT BUSINESS,BVAS01,Subsidiary Management,14.06.1984,NaN,2020-02-04,BHISHAM@TM.COM.MY

In [84]:
df_main_P = df_main_P.loc[:, ['Pers. No','Name_x', 'LOB', 'Division', 'Email_x', 'EE Group Desc', 'EE subgrp', 'Name of EE SG', 
                              'CoCode', 'Description', 'PerSubArea', 'PerSubArea_Region', 'Hiring Dt', 'DOA Date']]

In [85]:
df_main_P.head(3)

,Pers. No,Name_x,LOB,Division,Email_x,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Description,PerSubArea,PerSubArea_Region,Hiring Dt,DOA Date
0,69,Asmawati Bte Yusof,Group Customer,Group Customer Experience,ASMAWATI@TM.COM.MY,Permanent,TM,Top Management,1000,Chief CX CEMT,Kuala Lumpur,Central,02.09.1985,2020-04-28
1,74,Zuraidah Binti Mohd Said,Commercial,Commercial_Central Region,ZURAIDAH@TM.COM.MY,Permanent,TM,Top Management,1000,Head Central Region,Selangor,Central,29.08.1988,2020-05-31
2,75,Badrul Hisham Bin Ahmad,Support Business,Support Business,BHISHAM@TM.COM.MY,Permanent,TM,Top Management,1000,Subsidiary Management,Kuala Lumpur,Central,14.06.1984,2020-02-04

## df_main_P exclude df_exclude based on Pers. No

In [86]:
df_main_P.shape

(22796, 14)

In [87]:
df_exclude.shape

(635, 10)

In [88]:
df_exclude.head(2)

,Pers. No,Reason,Name,Company Desc,LOB,Division,Email,EmpGroup,PerSubArea,PerSubArea_Region
0,43754,Resigned,Wan Roslinda Binti Wan Ismail,Telekom Malaysia Berhad,Central Function,Group Legal & Secretarial Division,WANROSLINDA.WANISMAIL@TM.COM.MY,Permanent,Kuala Lumpur,Central
1,9605,MRA,Zakaria Bin Ahmad,Telekom Malaysia Berhad,Central Function,Group Procurement,A14487@TM.COM.MY,Permanent,Kuala Lumpur,Central

In [89]:
df_main_P = df_main_P[~df_main_P['Pers. No'].isin(df_exclude['Pers. No'])]

In [90]:
df_main_P.shape

(22367, 14)

In [91]:
df_main_P.head(2)

,Pers. No,Name_x,LOB,Division,Email_x,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Description,PerSubArea,PerSubArea_Region,Hiring Dt,DOA Date
0,69,Asmawati Bte Yusof,Group Customer,Group Customer Experience,ASMAWATI@TM.COM.MY,Permanent,TM,Top Management,1000,Chief CX CEMT,Kuala Lumpur,Central,02.09.1985,2020-04-28
1,74,Zuraidah Binti Mohd Said,Commercial,Commercial_Central Region,ZURAIDAH@TM.COM.MY,Permanent,TM,Top Management,1000,Head Central Region,Selangor,Central,29.08.1988,2020-05-31

## Save output with date

In [92]:
df_main_P_summary = df_main_P.loc[:, ['Pers. No', 'LOB', 'Division','PerSubArea', 'PerSubArea_Region', 'DOA Date']]

In [93]:
df_main_P_summary.head(3)

,Pers. No,LOB,Division,PerSubArea,PerSubArea_Region,DOA Date
0,69,Group Customer,Group Customer Experience,Kuala Lumpur,Central,2020-04-28
1,74,Commercial,Commercial_Central Region,Selangor,Central,2020-05-31
2,75,Support Business,Support Business,Kuala Lumpur,Central,2020-02-04

In [94]:
df_main_P_summary.to_csv('DOA_2019_2020_output_summary.csv')

In [95]:
df_main_P.to_csv('DOA_2019_2020_output.csv')

In [96]:
# df_main_P.to_csv('DOA_2019_2020_output.csv', date_format='%Y%m%d') #if want to specify date format

## df for unit secondment Fiberail, Fibercomm & MMU

In [97]:
#df_main_P_SFiberail = df_main[df_main['Division'].isin(['Unit Secondment Fiberail'])]
#df_main_P_SFibercomm = df_main[df_main['Division'].isin(['Unit Secondment Fibrecomm'])]
#df_main_P_SMMU = df_main[df_main['Division'].isin(['Unit Secondment Multimedia University'])]

## Extract & save csv file according to LOB

In [98]:
pd.pivot_table(df_main_P, values='Pers. No', index=['LOB'], aggfunc=len)

                                        Pers. No
LOB
BOD                                           19
Central Function                            1403
Commercial                                  3060
Digital                                      216
Group Customer                               184
Group Information Technology & Digital       906
Group Network Technology                    8222
Multimedia University                       2167
Support Business                            1176
TM ONE                                      3575
TM R&D                                       265
TM Wholesale                                 558
webe                                         616

In [99]:
pd.pivot_table(df_main_P, values='Pers. No', index=['PerSubArea_Region'], aggfunc=len)

                   Pers. No
PerSubArea_Region
Central               13198
Eastern                1380
Northern               2074
Sabah                  1081
Sarawak                1154
Southern               2932
webe                    548

In [100]:
#LOB
df_main_P_CentralFunction = df_main_P[df_main_P['LOB'].isin(['Central Function'])]
df_main_P_Commercial = df_main_P[df_main_P['LOB'].isin(['Commercial'])]
df_main_P_GroupCustomer = df_main_P[df_main_P['LOB'].isin(['Group Customer'])]
df_main_P_GITD = df_main_P[df_main_P['LOB'].isin(['Group Information Technology & Digital'])]
df_main_P_GNT = df_main_P[df_main_P['LOB'].isin(['Group Network Technology'])]
df_main_P_MMU = df_main_P[df_main_P['LOB'].isin(['Multimedia University'])]
df_main_P_SupportBusiness = df_main_P[df_main_P['LOB'].isin(['Support Business'])]
df_main_P_TMONE = df_main_P[df_main_P['LOB'].isin(['TM ONE'])]
df_main_P_TMRnD = df_main_P[df_main_P['LOB'].isin(['TM R&D'])]

df_main_P_webe = df_main_P[df_main_P['LOB'].isin(['webe'])]
df_main_P_Digital = df_main_P[df_main_P['LOB'].isin(['Digital'])]

#Region
df_main_P_Central = df_main_P[df_main_P['PerSubArea_Region'].isin(['Central'])]
df_main_P_Eastern = df_main_P[df_main_P['PerSubArea_Region'].isin(['Eastern'])]
df_main_P_Northern = df_main_P[df_main_P['PerSubArea_Region'].isin(['Northern'])]
df_main_P_Oversea = df_main_P[df_main_P['PerSubArea_Region'].isin(['Oversea'])]
df_main_P_Sabah = df_main_P[df_main_P['PerSubArea_Region'].isin(['Sabah'])]
df_main_P_Sarawak = df_main_P[df_main_P['PerSubArea_Region'].isin(['Sarawak'])]
df_main_P_Southern = df_main_P[df_main_P['PerSubArea_Region'].isin(['Southern'])]
df_main_P_Region_webe = df_main_P[df_main_P['PerSubArea_Region'].isin(['webe'])]

In [101]:
#LOB
df_main_P_CentralFunction.to_csv('DOA_2019_2020_output_CentralFunction.csv')
df_main_P_Commercial.to_csv('DOA_2019_2020_output_Commercial.csv')
df_main_P_GroupCustomer.to_csv('DOA_2019_2020_output_GroupCustomer.csv')
df_main_P_GITD.to_csv('DOA_2019_2020_output_GITD.csv')
df_main_P_GNT.to_csv('DOA_2019_2020_output_GNT.csv')
df_main_P_MMU.to_csv('DOA_2019_2020_output_MMU.csv')
df_main_P_SupportBusiness.to_csv('DOA_2019_2020_output_SupportBusiness.csv')
df_main_P_TMONE.to_csv('DOA_2019_2020_output_TMONE.csv')
df_main_P_TMRnD.to_csv('DOA_2019_2020_output_TMRnD.csv')

df_main_P_webe.to_csv('DOA_2019_2020_output_webe.csv')
df_main_P_Digital.to_csv('DOA_2019_2020_output_Digital.csv')

#Region
df_main_P_Central.to_csv('DOA_2019_2020_output_Central.csv')
df_main_P_Eastern.to_csv('DOA_2019_2020_output_Eastern.csv')
df_main_P_Northern.to_csv('DOA_2019_2020_output_Northern.csv')
df_main_P_Oversea.to_csv('DOA_2019_2020_output_Oversea.csv')
df_main_P_Sabah.to_csv('DOA_2019_2020_output_Sabah.csv')
df_main_P_Sarawak.to_csv('DOA_2019_2020_output_Sarawak.csv')
df_main_P_Southern.to_csv('DOA_2019_2020_output_Southern.csv')
df_main_P_Region_webe.to_csv('DOA_2019_2020_output_Region_webe.csv')

# Section to merge with manual Data (MMU, Fibrecomm & Fiberail)

## Exclude LOB MMU & LOB TM Wholesale (DIV: Fibrecomm & Fiberail)

In [102]:
df_main_P = df_main_P[~df_main_P['LOB'].isin(['Multimedia University'])]

In [103]:
pd.pivot_table(df_main_P, values='Pers. No', index=['LOB'], aggfunc=len)

                                        Pers. No
LOB
BOD                                           19
Central Function                            1403
Commercial                                  3060
Digital                                      216
Group Customer                               184
Group Information Technology & Digital       906
Group Network Technology                    8222
Support Business                            1176
TM ONE                                      3575
TM R&D                                       265
TM Wholesale                                 558
webe                                         616

In [104]:
df_main_P = df_main_P[~df_main_P['Division'].isin(['Fiberail','Fibrecomm'])]

In [105]:
pd.pivot_table(df_main_P, values='Pers. No', index=['LOB','Division'], aggfunc=len)

                                                                                     Pers. No
LOB                                    Division
BOD                                    BOD                                                 19
Central Function                       CEO Office                                           9
                                       Chairman Office                                      4
                                       Education Yayasan TM                                12
                                       Group Brand & Communication                         76
                                       Group Finance                                      337
                                       Group Human Capital Management                     288
                                       Group Information Security                          57
                                       Group Integrity & Governance                        26
                                       Group Internal Audit                                46
                                       Group Legal & Secretarial Division                  58
                                       Group Procurement                                  346
                                       Group Risk Management                               56
                                       Group Strategy                                      83
                                       Unit Secondment                                      5
Commercial                             Commercial                                         372
                                       Commercial_Central Region                          663
                                       Commercial_Eastern Region                          357
                                       Commercial_Northern Region                         514
                                       Commercial_Sabah Region                            232
                                       Commercial_Sarawak Region                          224
                                       Commercial_Southern Region                         504
                                       TM Info-Media Sdn Bhd                               67
                                       Telekom Sales & Services Sdn Bhd                   127
Digital                                Digital                                            216
Group Customer                         Group Customer Experience                          184
Group Information Technology & Digital Group Information Technology & Digital             906
Group Network Technology               GNT_Division Business Finance GNT                   25
                                       GNT_Division Enteprise Service Fulfillment         145
                                       GNT_Division Fundamental Planning Fixed            667
                                       GNT_Division Fundamental Planning Mobile 5G         40
                                       GNT_Division HCBD GNT & GITD                        16
                                       GNT_Division National Network Operations Ctr      1093
                                       GNT_Division Network Region Central               1955
                                       GNT_Division Network Region Eastern                748
                                       GNT_Division Network Region Northern              1177
                                       GNT_Division Network Region Sabah                  610
                                       GNT_Division Network Region Sarawak                602
                                       GNT_Division Network Region Southern              1041
                                       GNT_Division Nwk Inteligence & Prfmnc Mon           32
                                       GNT_Division Project Planning & Bdgt Mgmt           62
                                       GNT_Section Internal Communication                   4
                                       Group Network Technology                             5
Support Business                       Menara Kuala Lumpur Sdn Bhd                        185
                                       Support Business                                   870
                                       TMF Autolease Sdn Bhd                              121
TM ONE                                 GITN                                               323
                                       PT VADS                                              2
                                       TM ONE                                            2648
                                       TM ONE_Central Region                               34
                                       TM ONE_Eastern Region                               57
                                       TM ONE_Northern Region                              78
                                       TM ONE_Sabah Region                                 39
                                       TM ONE_Sarawak Region                               36
                                       TM ONE_Southern Region                              71
                                       Telekom Applied Business                            36
                                       VADS                                                 1
                                       Vads BPO                                           250
TM R&D                                 TM R&D                                             265
TM Wholesale                           TM Wholesale                                       529
webe                                   CENTRAL FUNCTION                                     7
                                       COMMERCIAL                                           2
                                       CUSTOMER EXPERIENCE                                 17
                                       STATES                                               6
                                       SUPPORT BUSINESS                                     3
                                       TM ONE                                              10
                                       UNIFI                                              127
                                       Webe                                                68
                                       webe                                               376

## Extract & save csv file for TM Wholesale after exclude Fiberail & Fibercomm

In [106]:
df_main_P_TMWholesale = df_main_P[df_main_P['LOB'].isin(['TM Wholesale'])]
df_main_P_TMWholesale.to_csv('DOA_2019_2020_output_TMWholesale.csv')

## Combine 2 database df_main_P with manual DOA

In [107]:
df_manual = pd.read_excel('DOA_2020 Manual_ALL.xlsx')

In [108]:
df_main_P.head(2)

,Pers. No,Name_x,LOB,Division,Email_x,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Description,PerSubArea,PerSubArea_Region,Hiring Dt,DOA Date
0,69,Asmawati Bte Yusof,Group Customer,Group Customer Experience,ASMAWATI@TM.COM.MY,Permanent,TM,Top Management,1000,Chief CX CEMT,Kuala Lumpur,Central,02.09.1985,2020-04-28
1,74,Zuraidah Binti Mohd Said,Commercial,Commercial_Central Region,ZURAIDAH@TM.COM.MY,Permanent,TM,Top Management,1000,Head Central Region,Selangor,Central,29.08.1988,2020-05-31

In [109]:
df_manual.head(2)

,Pers. No,Name_x,LOB,Division,Email_x,EE Group Desc,EE subgrp,Name of EE SG,CoCode,Description,PerSubArea,PerSubArea_Region,Hiring Dt,DOA Date
0,1291,Mimi Zalina Binti Osman Ariff,Multimedia University,MMU,ZALINA.OSMAN@MMU.EDU.MY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-24
1,2062,Baida Shiha Binti Baharuddin,Multimedia University,MMU,BAIDA.BAHARUDDIN@MMU.EDU.MY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-23

In [110]:
df_manual.shape

(1719, 14)

In [111]:
df_main_P.shape

(20171, 14)

In [112]:
frames = [df_main_P,df_manual]
df_ALL = pd.concat(frames, keys=['x', 'y'])

In [113]:
df_ALL.shape

(21890, 14)

In [114]:
df_ALL.head(2)

    Pers. No                    Name_x             LOB  \
x 0       69        Asmawati Bte Yusof  Group Customer
  1       74  Zuraidah Binti Mohd Said      Commercial

                      Division             Email_x EE Group Desc EE subgrp  \
x 0  Group Customer Experience  ASMAWATI@TM.COM.MY     Permanent        TM
  1  Commercial_Central Region  ZURAIDAH@TM.COM.MY     Permanent        TM

      Name of EE SG CoCode          Description    PerSubArea  \
x 0  Top Management   1000        Chief CX CEMT  Kuala Lumpur
  1  Top Management   1000  Head Central Region      Selangor

    PerSubArea_Region   Hiring Dt   DOA Date
x 0           Central  02.09.1985 2020-04-28
  1           Central  29.08.1988 2020-05-31

In [115]:
df_ALL.loc['y'].shape

(1719, 14)

In [116]:
df_ALL.loc['x'].shape

(20171, 14)

In [117]:
pd.pivot_table(df_ALL, values='Pers. No', index=['LOB','Division'], aggfunc=len)

                                                                                     Pers. No
LOB                                    Division
BOD                                    BOD                                                 19
Central Function                       CEO Office                                           9
                                       Chairman Office                                      4
                                       Education Yayasan TM                                12
                                       Group Brand & Communication                         76
                                       Group Finance                                      337
                                       Group Human Capital Management                     288
                                       Group Information Security                          57
                                       Group Integrity & Governance                        26
                                       Group Internal Audit                                46
                                       Group Legal & Secretarial Division                  58
                                       Group Procurement                                  346
                                       Group Risk Management                               56
                                       Group Strategy                                      83
                                       Unit Secondment                                      5
Commercial                             Commercial                                         372
                                       Commercial_Central Region                          663
                                       Commercial_Eastern Region                          357
                                       Commercial_Northern Region                         514
                                       Commercial_Sabah Region                            232
                                       Commercial_Sarawak Region                          224
                                       Commercial_Southern Region                         504
                                       TM Info-Media Sdn Bhd                               67
                                       Telekom Sales & Services Sdn Bhd                   127
Digital                                Digital                                            216
Group Customer                         Group Customer Experience                          184
Group Information Technology & Digital Group Information Technology & Digital             906
Group Network Technology               GNT_Division Business Finance GNT                   25
                                       GNT_Division Enteprise Service Fulfillment         145
                                       GNT_Division Fundamental Planning Fixed            667
                                       GNT_Division Fundamental Planning Mobile 5G         40
                                       GNT_Division HCBD GNT & GITD                        16
                                       GNT_Division National Network Operations Ctr      1093
                                       GNT_Division Network Region Central               1955
                                       GNT_Division Network Region Eastern                748
                                       GNT_Division Network Region Northern              1177
                                       GNT_Division Network Region Sabah                  610
                                       GNT_Division Network Region Sarawak                602
                                       GNT_Division Network Region Southern              1041
                                       GNT_Division Nwk Inteligence & Prfmnc Mon           32
                                       GNT_Division Project Planning & Bdgt Mgmt           62
                                       GNT_Section Internal Communication                   4
                                       Group Network Technology                             5
Multimedia University                  MMU                                               1406
                                       UMSB                                                12
                                       Unit Secondment Multimedia University               29
Support Business                       Menara Kuala Lumpur Sdn Bhd                        185
                                       Support Business                                   870
                                       TMF Autolease Sdn Bhd                              121
TM ONE                                 GITN                                               323
                                       PT VADS                                              2
                                       TM ONE                                            2648
                                       TM ONE_Central Region                               34
                                       TM ONE_Eastern Region                               57
                                       TM ONE_Northern Region                              78
                                       TM ONE_Sabah Region                                 39
                                       TM ONE_Sarawak Region                               36
                                       TM ONE_Southern Region                              71
                                       Telekom Applied Business                            36
                                       VADS                                                 1
                                       Vads BPO                                           250
TM R&D                                 TM R&D                                             265
TM Wholesale                           Fiberail                                           181
                                       Fibrecomm                                           91
                                       TM Wholesale                                       529
webe                                   CENTRAL FUNCTION                                     7
                                       COMMERCIAL                                           2
                                       CUSTOMER EXPERIENCE                                 17
                                       STATES                                               6
                                       SUPPORT BUSINESS                                     3
                                       TM ONE                                              10
                                       UNIFI                                              127
                                       Webe                                                68
                                       webe                                               376

In [118]:
df_ALL = df_ALL[~df_ALL['Pers. No'].isin(df_exclude['Pers. No'])] #Exclude again for after combine with on exclusion list

In [119]:
df_ALL.to_csv('DOA_2019_2020_output_ALL.csv')

In [120]:
df_main_P_TMWholesale_ALL = df_ALL[df_ALL['LOB'].isin(['TM Wholesale'])]
df_main_P_TMWholesale_ALL.to_csv('DOA_2019_2020_output_TMWholesale_ALL.csv')